apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-pv
  labels:
    type: local
    component: prometheus
spec:
  storageClassName: hostpath
  capacity:
    storage: 50Gi
  accessModes:
      - ReadWriteOnce
  hostPath:
    path: "/mnt/prometheus"
