apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-template-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadOnlyMany
  hostPath:
    path: /mnt/data/grafana-alert-templates